* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 10px 5px;
}

li:nth-child(even) {
  background-color: rgb(167, 163, 163);
}

.btn {
  padding: 5px 20px;
  box-shadow: 0 1px 6px;
}

.input-field {
  width: 100%;
  padding: 10px 5px;
}

.input-group {
  margin: 15px 0;
}

.d-flex {
  display: flex;
}

.success {
  background-color: rgb(157, 245, 157);
}

.error {
  background-color: rgb(238, 130, 130);
}

.info {
  background-color: rgb(172, 190, 243);
}

.container {
  padding: 20px;
  margin-bottom: 80px;
}

.create-game {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.create-game .btn {
  margin-left: 10px;
}

.header {
  height: 100%;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 900;
  padding: 20px;
}

.alert {
  display: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.card {
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.scores-container {
  width: 100%;
}

.scores-heading {
  justify-content: space-between;
  margin-bottom: 15px;
}

article h2 {
  font-size: 30px;
}

.scores-board {
  border: 1px solid black;
}

.scores-board small {
  font-size: 16px;
  font-weight: 600;
}

.form-section {
  width: 100%;
  margin-left: 40px;
}

.form-btn .btn {
  float: right;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px 0;
  background-color: grey;
}
